.App {
  width: 100wh;
  height: 100vh;
  background-color: gray;
}

.image_list_container {
  display: flex;
  flex-flow: column;
  background-color: white;
  min-height: 200px;
  height: 30%;
  width: 100vw;
  position: fixed;
  z-index: 100;
  bottom: 0em;
  transform: translate3d(0, calc(100% - 1.5em), 0);
  transition-duration: 220ms;
}
.image_list_container_shown {
  transform: translate3d(0, 0, 0);
  transition-duration: 220ms;
}

.image_list_container .box_file {
  display: none;
}
.image_list_container ul {
  overflow-x: auto;
  white-space: nowrap;
  height: 180px;
  display: flex;
  align-items: center;
}
.image_list_container ul li {
  margin-right: 2%;
  display: inline-block;
}
.image_list_container ul li div {
  border: solid 1px #dddddd;
  width: 120px;
  height: 180px;
  display: flex;
  align-items: center;
}
.image_list_container ul li img {
  display: block;
  max-width: 110px;
  max-height: 180px;
  margin: auto;
}
